<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>검색 설정</h3>
    <form action="" method="post">
        <div>
            <h4>백신 단계</h4>
            <input type="radio" name="location" value="k">1차
            <input type="radio" name="location" value="s">2차
            <input type="radio" name="location" value="r">3차
        </div>
        <div>
            <h4>감염 여부</h4>
            <input type="radio" name="location" value="k">감염
            <input type="radio" name="location" value="s">비감염
            <input type="radio" name="location" value="r">완치
        </div>
        <div>
            <h4>날짜</h4>
            <input type="date" name="date">
        </div>
        </br>
        <div>
            <a href="/covid19/list"><button type="button">병원선택</button></a>
        </div>
        <div>
            <input type="submit" value="join"><br/>
        </div>
    </form>
</body>
</html>